# Vs Code
.vscode/*

# Mac 
*/.IDEA
*/.DS_Store

# Python
*/__pycache__/
lesQuiromanciers/api/wikipedia/__pycache__/

# Configuration 
*/config.json
api/fb/src/config.json

# Dev container
.devcontainer/*

# Log notebook
.ipynb_checkpoints/*


.idea

