# Vs Code
.vscode/*

# Mac 
*/.IDEA
*/.DS_Store
.DS_Store
__pycache__

# Global
*/.idea


# Python
*/__pycache__/
lesQuiromanciers/api/wikipedia/__pycache__/

# Configuration 
*/config.json
api/fb/src/config.json

# Dev container
.devcontainer/*

# Log notebook
.ipynb_checkpoints/*


.idea

lesQuiromanciers/model/__pycache__/GenerationBioModel.cpython-37.pyc

*.pyc

# Model 
*/model.json
*/model.yaml
*/weights.hdf5